@import url(https://fonts.googleapis.com/css?family=Montserrat);

:root {
  --white: rgb(255,255,255);
  --black: rgb(30,30,30);
  --orange: rgb(255, 144, 40);
  --dark-grey: rgb(120, 120, 120);

  --p-gr-dark: rgba(0, 0, 0, 0.45);
  --p-gr-light: rgba(0, 0, 0, 0.15);
  --p-gr-off: rgba(0, 0, 0, 0);

}

html, body {
  overflow: initial!important;
}

body {
  color: #fff;
  font-family: Montserrat;
}

a, a:visited, a:active {
  color: var(--orange);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--orange);
}

.orange {
  color: var(--orange)!important;
}

.white {
  color: var(--white)!important;
  
}

.black {
  color: var(--black);
}


.menu-container {
  z-index: 6;
}

.menu {
  font-size: 1.1em;
  background-color: var(--orange);
  border-radius: 1em;
}

.menu-item {
  cursor: pointer;
}

.menu-item:hover {
  text-decoration: underline;
}


body.bio-active #menu-item-bio {
  font-weight: bold;
}

body.portfolio-active #menu-item-portfolio {
  font-weight: bold;
}

.background {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  height: 130vh;
  position: fixed;
  width: 100%;
  transform: translateY(30vh);
  transition: all 1.2s cubic-bezier(0.22, 0.44, 0, 1);
  border-bottom: 5px solid #333;
}

.background:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.background:first-child {
  transform: translateY(-15vh);
  background-image: url(../img/bg_notes_dark.jpg);
}

.background:first-child .content-wrapper {
  transform: translateY(15vh);
}

.background:nth-child(2) {
  background-image: url(../img/bg_notes_light.jpg);
  /* background-image: url(notes_offwhite_90deg_-150.jpg); */
}


/* Set stacking context of slides */
.background:nth-child(1) {
  z-index: 2;
}

.background:nth-child(2) {
  z-index: 1;
}

.content-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;

  transform: translateY(40vh);
  will-change: transform;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  transition: all 1.7s cubic-bezier(0.22, 0.44, 0, 1);
}

.content-title {
  font-size: 12vh;
  line-height: 1.4;
}

.background.up-scroll {
  transform: translate3d(0, -15vh, 0);
}
.background.up-scroll .content-wrapper {
  transform: translateY(15vh);
}
.background.up-scroll + .background {
  transform: translate3d(0, 30vh, 0);
}
.background.up-scroll + .background .content-wrapper {
  transform: translateY(30vh);
}

.background.down-scroll {
  transform: translate3d(0, -130vh, 0);
}
.background.down-scroll .content-wrapper {
  transform: translateY(40vh);
}
.background.down-scroll + .background:not(.down-scroll) {
  transform: translate3d(0, -15vh, 0);
}
.background.down-scroll + .background:not(.down-scroll) .content-wrapper {
  transform: translateY(15vh);
}

.img-personal {
  max-width: 150px;
}

#bio-left {
  /* background-color: rgba(200,0,0,0.1); */
}

#bio-center {
   /* background-color: #080; 
  display: none; */
}

#bio-right {
  /* display: block; */
}

@media (min-width: 576px) { 
  #bio-right {
    /* display: block; */
  } 
}

@media (min-width: 768px) {
  #bio-center {
    display: block;
  }
 }

.scrollable {
  overflow: auto;
}


.portfolio-item {
  transition: background-image 1s ease-out;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: inline-block;
  width: 250px;
  height: 250px;

}

/* Some customizations to simpleLightbox to better 
facilitate longer title on smaller screen */
.slbCaption {
  overflow: auto;
  font-size: inherit;
  white-space: inherit;
  background-color: rgba(0,0,0,0.5);
  font-size: 0.8em;
}

.slbImage {
  /* Decrease top padding */
  padding: 2em 0 5em 0;
}

.slbCloseBtn {
  font-size: 2em;
}